<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>微博秀</title>
        <script type="text/javascript">
            var $CONFIG = {
                $lang: "zh",
                $oid: "",
                $uid: "",
                $severtime: "1490939353",
                $token: "b85b158144832b8f50aaa02074b1e391",
                $PRODUCT_NAME: "miniblog",
                $pageid: "widget_weibo_wall",
                $setDomain: false,
                $devMode: 1,
                $faceIcons: [],
                $cuser_status: "full",
                $appsrc: "6cm7D0",
                $language: "zh_cn",
                $appkey: "3845272542",
                $wsrc: "app_weibo_show",
                current_user_weibo:'',
                current_user_sina:''
            };
            var scope = $CONFIG;
        </script>
        <link rel="stylesheet" type="text/css" href="http://img.t.sinajs.cn/t4/appstyle/widget/css/weiboShow/weiboShow.css?ver=9c0e280cfaef035c">
        <link rel="stylesheet" type="text/css" href="http://img.t.sinajs.cn/t4/appstyle/widget/css/weiboShow/skin/skin09.css?ver=9c0e280cfaef035c">
        <!--
        <link href="http://img.t.sinajs.cn/t4/appstyle/widget/css/weiboShow/weiboShow.css" rel="stylesheet" type="text/css">
        -->
        <script src="http://js.t.sinajs.cn/STK/js/gaea_1_19.js?ver=9c0e280cfaef035c" type="text/javascript" ></script>
            </head>

    <body>
        <!--****** 微博秀 *******
                        <div class="WB_widgets weiboShow" style="height:117px;padding-bottom:0px;
            " id="pl_weibo_show">
                    -->
        <div class="WB_widgets weiboShow" style="height:119px;" id="pl_weibo_show">
            <!-- 顶部边框/标识彩条 -->
            <div class="weiboShow_topborder">
                <p></p>
            </div>
            <!-- /顶部边框/标识彩条 -->
            <div class="weiboShow_wrap">
                                <!-- 标题 置顶 -->
                <div class="weiboShow_title weiboShow_title_top">
                    <!-- logo -->
                    <div class="weiboShow_title_logo" id="weibo_title"><a href="http://weibo.com?s=6cm7D0" target="_blank"><em class="WB_logo16a" title="微博">微博</em><span>微博</span></a></div>
                    <!-- /logo -->
                </div>
                <!-- /标题 置顶 -->
                                                <!-- 创建者 -->
                <div class="weiboShow_developer clearfix" id="weibo_head">
                    <div class="weiboShow_developer_pic"><a href="http://weibo.com/toqianmo?s=6cm7D0" target="_blank">
                            <img src="http://tva3.sinaimg.cn/crop.0.0.749.749.50/657ed2d3jw8f429y6swx6j20ku0ktjsg.jpg" alt="To浅墨" title="To浅墨" /></a></div>
                    <div class="weiboShow_developer_detail">
                        <dl class="weiboShow_developerDetail_name"><dt><a href="http://weibo.com/toqianmo/profile?s=6cm7D0" target="_blank" alt="To浅墨" title="To浅墨">To浅墨</a></dt><dd><span class="weiboShow_developerDetail_namedir">浙江 杭州</span></dd></dl>
                        <p class="weiboShow_developerDetail_btn">
                                                                                    <a href="#" class="WB_btnA" id="followBtn" uid="1702810323" action-data="uid=1702810323" >
                                <span>
                                    <em class="WB_btnicn_add"></em>
                                    <em>加关注</em>
                                </span>
                            </a>
                                                                                </p>
                    </div>
                </div>
                <!-- /创建者 -->
                                                                            </div>
        </div>
        <!--****** /微博秀 ******* -->
        <script src="http://tjs.sjs.sinajs.cn/open/widget/js/widget/show.js?ver=9c0e280cfaef035c" type="text/javascript" ></script>
        <!-- SUDA_CODE_START -->
        <script type="text/javascript" charset="utf-8" src="http://tjs.sjs.sinajs.cn/open/analytics/js/suda.js"></script>
        <!-- SUDA_CODE_END -->
    </body>
</html>
